---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


/* Variables */

$break-small-screen: 600px;
$break-large-screen: 1024px;


@import "h5bp";
@import "normalize";

@import "syntax-highlighting";

@import "header";
@import "banner";
@import "article";
@import "footer";


html, body {
  height: 100%;
  width: 100%;
  background: #EEE;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
