---
layout: default
---
<article class="content-wrapper">
  <section class="container">
    <div class="articles-list">
      <ul class="clearfix">
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
              <span class="left">
                {% include avatar.html %}
              </span>
              <span class="right">
                <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
                <span class="title">
                  {{ post.title }}
                </span>
                <span class="description">{{ post.description }}</span>
                {% for tag in post.tags %}
                  <span class="tag">{{tag}}</span>
                {% endfor %}
              </span>
              <span class="clear"></span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>
