<meta charset="utf-8">
<meta property="twitter:account_id" content="1593210261" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A resource for developers looking to put HTML5 to use today, including information on specific features and when to use them in your apps.">
<meta name="keywords" content="html5,html 5,html5 demos,html5 examples,javascript,css3,notifications,geolocation,web workers,apppcache,file api,filereader,indexeddb,offline,audio,video,drag and drop,chrome,sse,mobile">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="E1HOIDkksrWY5npenL8FeQhKn4Ujctd75iO2lfufSyA" />
<title>{{page.title}}</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="manifest" href="/manifest.json">
<link rel="icon" sizes="192x192" href="{% asset_path HTML5_Badge_192.png %}">
<meta name="theme-color" content="#f04530">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="HTML5 Rocks">
<link rel="apple-touch-icon-precomposed" href="{% asset_path HTML5_Badge_192.png %}">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{% asset_path HTML5_Badge_144.png %}">
<meta name="msapplication-TileColor" content="#f04530">

<!-- TODO: consider rel=canonical -->
<link rel="canonical" href="https://developers.google.com/web/updates/{{page.url}}">
<link rel="alternate" type="application/rss+xml" title="HTML5 Rocks RSS" href="http://updates.html5rocks.com/feeds/rss.xml">
<link rel="alternate" type="application/atom+xml" title="HTML5 Rocks RSS" href="http://updates.html5rocks.com/feeds/atom.xml">
<link rel="publisher" href="https://plus.google.com/+GoogleChromeDevelopers">
{% if page.article %}
  {% for author in page.authors %}
    {% assign contributor = site.data._contributors[author] %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ChromiumDev">
<meta name="twitter:creator" content="@{{contributor.twitter}}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title}} - HTML5 Rocks">
<meta property="og:url" content="{{page.url}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:image" content="http://www.html5rocks.com/static/images/profiles/{{author}}.png">
<meta property="og:site_name" content="HTML5 Rocks - A resource for open web HTML5 developers">

<link rel="author" href="https://www.google.com/profiles/{{contributor.google}}">
  {% endfor %}
{% endif %}
<link href="//fonts.googleapis.com/css?family=Open+Sans:600,800|Source+Code+Pro" rel="stylesheet">
{% stylesheet main %}
<script>
var detectInjection = function(knownHostsArray) {
  var requests = window.performance.getEntriesByType("resource");
  var unknownHosts = [];
  var knownHosts = {};
  var foundHosts = {};
 
  for (var knownHost in knownHostsArray) {
    knownHosts[knownHostsArray[knownHost]] = true;
  }
 
  for(var requestIdx = 0; requestIdx < requests.length; requestIdx++) {
    var request = requests[requestIdx];
    var url = new URL(request.name);
    var host = url.host;
 
    // Aggregate all the requests from a host
 
    if(host in foundHosts) {
      foundHosts[host].push(request);
    }
    else {
      foundHosts[host] = new Array(request);
    }
  }
 
  for(var foundHost in foundHosts) {
    // If an unknown host is found, add it to a list.
    if(!(foundHost in knownHosts)) {
      unknownHosts.push(foundHost);
    }
  }
 
  return unknownHosts;
};
 
window.addEventListener("load", function() {
  var scripts = detectInjection(["updates.html5rocks.com", "ssl.google-analytics.com", "www.google-analytics.com", "disqus.com", "html5rocks.disqus.com", "fonts.googleapis.com"]);
 
  if(!!scripts == true && scripts.length > 0) {
    for(var scriptsIdx = 0; scriptsIdx < scripts.length; scriptsIdx++) {
      var scr = scripts[scriptsIdx];
      ga('send', 'event', 'load', 'unknown-host', scr, {'nonInteraction': 1});
    }
  }
});
</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5-els.js"></script>
<![endif]-->
