.banner {
  background: #F2F2F2;
  background: radial-gradient(circle farthest-side at center, #FFF 0%, #DAE4E4 100%);

  .container {
    padding-top: 55px;
    padding-bottom: 55px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      background: radial-gradient(circle farthest-side at top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 100%);
    }
  }

  .watermark {
    position: absolute;
    width: 68px;
    height: 116px;
    position: absolute;
    top: 50%;
    margin-top: -58px;
  }

  h1, h2 {
    margin: 0 auto;
    margin-left: 90px;
    max-width: 800px;
  }

  h1 {
    color: #333;
    text-shadow: 0 1px 2px rgba(255,255,255,0.7);
    font-size: 3em;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.06em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
  }

  h2 {
    font-size: 1.3em;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-weight: 300;
    margin-top: 12px;
  }

  @media screen and (max-width: $break-small-screen) {

    .watermark {
      display: none;
    }

    h1, h2 {
      margin: 10px 20px;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.1em;
    }

    .container {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

}
