
#disqus {
  margin: 40px auto 40px auto;

  &.active {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  h2 {
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0 0.4em 0;
    display: none;
  }

  &.active h2 {
    display: block;
  }

  #disqus_thread {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }

  .load-comments {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    padding: 20px 90px 20px 40px;
    border: 1px solid #DDD;
    background: #FFF;
    border-radius: 42px;
    height: 45px;
    line-height: 45px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA4CAIAAADIJsd3AAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADExLzEyLzEzY3ttigAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAZ4SURBVGiB1Zp/bFvVFcc/99nPjhPHTdOmTdrQH6tGaEXTlNKpKlVXIU0MiYK0asA07R8qjRUJJAR/AEIgOoEQEqJMmiZtYtOEQBvaOjrYkCg/RruVH0payJY2aUNJoaFJnMSN4/jZ8fO9+8PPxEnfr8SxUb+Kkud77nvnm+Pzzj3n3CuUUiwGJqfpG+dsgokseWkNaoKGMBsa2LSc+lC5KoLl3JxX9IzSeYlTcb5KMp5lImMzrT7EsggtdWxrZnsz1y8nqC1EnViYXYem+Ns5jg7wxQR5CaL4OIf5CgQoRUBjTYwfrGVfGy11FeY6nObl//HXc6RzKIVwYueMwl2RIHs3cM9mWqIV4JpXvHKal7pJZEA4mtAnCpaOhrhnMz/bRCjgfYtfrv2XefpDTg5bOhYLBd2bl/PETtoaPSb74vrelzx+jMkc2iLSLIFURIL8che3rHeb5s31D//lVyfJy4W4pn8o0ODAVu7d4jjHg+uvT/G7z5CL+r27Y387D9xgL3ILdH/sqTZRBS9189vP7KWOXD+5xIudSFU9ohRiMPzmUz74ykZqz3UkzcPvY1bYR20hIC957BgXknNF9lwPnuBy1oOo8vGzQLqC5DRPnZj7BJt84B/nOX7Rm2jWdJuQV9ZvU6JrhAPogXm4kyboGuJPZ/jJxpnBuXEgbXL7YUam3Ljm8jRHObiLsIa8QlpY9xNZpGIiy2CK/gRnxrg4iYSo7jdIK2is4e8/IlZM0Oba9bVe4mkPo0qoCbJrtS+VBSSn6RziSD/vDDCV85UfChg3eOU0BzqskVn+OpXj5dP4WXSVIpufB9dYiJvX8OLNvHobe65hIms5iSffP/eSmrbj+v6XjHoZtUxsWcHvb+WRHWRNctLDgwUkMrxx3vo4i+uRfl9GLR+/2MIzu5nOY3qpk3DknHU9w/XrFF1D1QuoP27joe1MTntM06AvwUDSurbwySV/PuSKiSyjBmMGcYNUzmPygQ52t864oxOk5KNBKI0DnUMLzPNL8dC/ODlERAdFQKOljl2t7LuWVQ7J/4M38vElpHILZFLRHefujSV27Y4vQpKSzDJukMiQyBJP0zXMsx+z9zBvfm4//4aV7FxF2nVZEYLecUxZ5DqeYTxbxrJYRFBDD6Br6BqhAHU6yyOkprn/HY4O2N9yy/qZGt0eilSOgWSR68VJUl4JwIIRCaIHePojklkb6baV1Opu8UcI4mm640WuY0b5NnWEgkiQLy5z7KKNtCVKSx05V9NKxVi6yNVw9ZhFgYKTwzbj9SGW1ngHWsN0rQsWF5pwjGLuPlCAEFXk6gLpz/+qx1Uq6nS7cZjyUc0rVeQaKasH5w+CjhU2wxMZxgzvblwkWOS6LFLBGlCAYbIuxp5rbKQXkgxPeXDVBMtqi1xb64mGK5VkGSY5yWM7WBK2kf5nkEzezVJK0VRLe1MxH2isoTFsH6vnBVOSy5MLWDpMiWGyopbnbuKHdv0fpXh7gLB7400Q1VkXK8ld2psYmCg3JYiFaYxYuYsmaI5y02rubHPMXd4eoDvuUdIoxXWNBLUSrjc284ZDhuEfz++xsn0F4YAHCcPkUBe65mEfTdDeBKU54fdaCIhyU1hbj3TCwRP0jNEY9ljeNY0dq6E0vq6Ksq25SjUM8EInr56hwYuohLalrIvBnLVg37WV6rCWwjB5/DiHuoiFvN8ODe74rnU9aw3YuoJwEMOsYKx99wKHuugeYUmNt5ZCO2Pvd6yPs7geHyTrj6gQXoFmNkbSnBjk8Fk+/BoFS2v8paCKu64jemXfRcFf+pA+Si4NMib/HnTsEUlFIoNUjBoMpuhL0DfG0BRBjVrdihI+eNIY4aebZkZmuPaM0jfuqzTQA4wa7H/LTY1UKMhLpCIUIBSYX4gABNy7ZaaZNYvra73kfXeGBYR9pDsL9nup2N7C3RtnDVoKk9McvTC/x1Xu/VOKWIgnd85VYcWsf55nKlfVdrsTFAQ0ntnN2thckcX19XOLUHCXj8JG34EOvm+XPWpAzyi9zm9VNf8FAfvb+bnDFpcGHD6LlBanb15hgbWGNdWiiYqvvQWN92113NwCgv0JXu9H09AFNTprY7TWs7SGDUtYE6MhzMo6To3w6AekvvU9zk9H1JlR1jewJkYsZF++cRXtHRdw1ezJf4Or46xDKRZwhqTwp6pnSEoxr7M5rVE6Vn4bZ3OuRBXOPP0fnNisbIMd9sgAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 93% center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;

    &:after {
      content: ' comments';
    }
  }

  @media (min-width: $break-small-screen) {
    .load-comments {
      background-position: 97% center;

      &:before {
        content: 'There are ';
      }

      &:after {
        content: ' comments. Want to add yours?';
      }
    }
  }
}




