.article {

  a {
    text-decoration: underline;
  }

  p {
    margin: 0.4em 0 0.8em 0;
  }

  h2, h3, h4, h5 {
    color: #333;
    font-family: 'Open Sans';
    font-weight: 600;
    margin: 1.3em 0 0.7em 0;
    clear: both;
    max-width: 85%;
  }
  h1 { font-size: 150%; }
  h2 { font-size: 135%; }
  h3 { font-size: 120%; }
  h4 { font-size: 110%; }
  h5 { font-size: 105%; }

  .tag {
    text-decoration: none;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }

  .author-images {
    img {
      width: 80px;
      height: 80px;
      border: 3px solid #FFF;
      box-shadow: 0 1px 2px rgba(0,0,0,0.4);
      border-radius: 100%;
      margin-bottom: 1em;

    }
    a {
      text-decoration: none;
      margin: 1em 0.5em;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .byline {
    font-size: 0.9em;
    padding: 3em 0 1em 0;
    text-align: center;

    .authors {
      font-size: 1em;
      padding-bottom: 0.3em;
    }

    a { color: #555; }
    a:visited { color: #777; }
  }

  @media (min-width: $break-small-screen) {
    .author-images {
      margin-right: 2em;
      display: inline-block;
      float: left;

      a {
        margin: -0.1em 0.5em;
      }
    }

    .byline {
      text-align: left;
    }
  }
}
