<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="body-content">
      <section class="banner">
        <section class="container">
          <a href="/en/" class="watermark"></a>
          <h1>{{page.title}}</h1>
          {% if page.subtitle %}<h2>{{page.subtitle}}</h2>{% endif %}
        </section>
      </section>
      {{content}}
    </div>
    {% include footer.html %}

    <script>
      (function() {

        var siteHeader = document.getElementById('siteheader');
        var navToggle = document.getElementById('navtoggle');
        var siteNav = document.getElementById('sitenav');

        navToggle.addEventListener('click', function(e) {
          siteNav.classList.toggle('active');
          e.preventDefault();
        });

      })();
    </script>

    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create','UA-15028909-7','auto');
      ga('create','UA-49880327-4','auto',{'name':'html5rocks'});
      ga('send','pageview');
      ga('html5rocks.send','pageview');
    </script>
  </body>
</html>
