---
layout: default
---
<article class="content-wrapper article">
<div class="container">
  <section class="byline clearfix">
    <section class="author-images">
      {% for author in page.authors %}
        {% include avatar.html author=author %}
      {% endfor %}
    </section>
    <section class="meta">
      <div class="authors">
        {% include authors.html authors=page.authors %}
      </div>
      <div class="published">
        <time pubdate=""><strong>Published:</strong> {{ page.article.written_on | date: "%B %d, %Y" }}</time>
      </div>
      <div class="updated">
        <time><strong>Updated:</strong> {{ page.article.updated_on | date: "%B %d, %Y" }}</time>
      </div>
      <div class="comments">
        <span><strong>Comments:</strong> <a href="#disqus_thread" class="load-comments" data-disqus-identifier="http://updates.html5rocks.com{{page.url}}">0</a></span>
      </div>
      <div id="notcompatible" class="hidden">
        Your browser may not support the functionality in this article.
      </div>
    </section>
  </section>
  <section class="content">
    {{content}}
  </section>
  <section>
    <!-- TODO: Update link. -->
    {% for tag in page.tags %}
      <a href="/tag/{{tag}}" class="tag">{{tag | replace: '_', ' '}}</a>
    {% endfor %}
  </section>
  <div class="pager">
    {% if page.previous %}
    <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% else %}
    <a href="/">All</a>
    {% endif %} | {% if page.next %}
    <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% else %}
    <a href="/">All</a><!-- TODO: Change link. -->
    {% endif %}
  </div>
</div>
</article>
{% include disqus.html %}

